.cfct-placeholder {
	height: 100px;
	width: 100px;
}

ul.cfct-images { 
	display: block;
	float: left;
	margin-top: 0;
}

ul.cfct-images li {
	margin: 3px 6px 3px 0;
	float:left;
	width: 150px;
	height: 150px;
	cursor: pointer;
	position: relative;
 }

ul.cfct-images li a {
	display: none;
}

ul.cfct-images li:hover a {
	background: #DF0000;
	color: #fff;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 7px 3px;
	font-size: 20px;
	font-family: 
	line-height: 20px;
	text-decoration: none;
}
